<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/angular.min.1.6.js"></script>
    <script src="~/Assets/bootstrap3/js/bootstrap.min.js"></script>
    <link href="~/Assets/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="~/Scripts/ngCore/ngGRID.js"></script>
    <script src="~/Scripts/ngInit.js"></script>
    @RenderSection("headerContent", false)
</head>
<body>

    <div class="container-fluid">

        <nav class="navbar navbar-default navbar-static-top ">
            <div class="navbar-header">
                <a href="../Home/Index">
                    <img class="img img-thumbnail" src="/Images/writer-home-logo.png" id="imgLogo" style="margin: 2px; height: 45px" />
                </a>
            </div>
            <div class="nav navbar-right">
                <ul class="nav navbar-nav">

                    <li class="dropdown">


                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>&nbsp;Hi, <span ng-bind="@Session["username"]">@Session["username"]</span><span class="caret"></span>
                        </a>


                        <ul class="dropdown-menu">
                            @* <li><a href="#"><i class="fa fa-edit"></i>&nbsp;Edit Profile</a></li>
                            <li class="divider"></li>*@
                            
                            
                            <li><a href="../Home/Logout"><i class="fa fa-sign-out"></i>&nbsp;Log Out</a></li>

                        </ul>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tags"></i>&nbsp;Tagging <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Home/Index"><i class="fa fa-tag"></i>&nbsp;Tag Document</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i>&nbsp;Search <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Home/searchDoc"><i class="fa fa-search"></i>&nbsp;Document Search</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-pdf-o"></i>&nbsp;Report <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Home/ReportView"><i class="fa fa-file-excel-o"></i>&nbsp;Tag Report</a></li>
                            <li><a href="../Home/userReportView"><i class="fa fa-file-excel-o"></i>&nbsp;User Tag Report</a></li>
                        </ul>
                        
                    </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;USer Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../User/CreateUser"><i class="fa fa-users"></i>&nbsp;Create User</a></li>
                        
                             <li><a href="../User/CreateRole"><i class="fa fa-sitemap"></i>&nbsp;Create Role</a></li>
                         </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-upload"></i>&nbsp;Bulk Upload <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../User/BulkUpload"><i class="fa fa-file-excel-o"></i>&nbsp;Bulk Upload</a></li>
                        </ul>
                    </li>
                </ul>



            </div>
        </nav>

        @RenderBody()

    </div>


    <!-- <footer class="footer">
        &copy; Writer Corporation @DateTime.Now.Year
    </footer>
       -->
</body>
</html>
